*{
  margin: 0;
  border:0;
  padding:0;
  box-sizing: border-box;
  font-family: arial;
}


img{
  width: 600px;
  display: none;
}

.visibile{
  display: block;
}

.container{
  margin:0 auto;
  width: auto;
}

.wrapper {
    display: flex;
  align-items: center;
  width: 600px;
  height: 450px;
  background-color:rgba(189, 195, 199, 1);
  overflow: hidden;
}

.slider{
  position: relative;
  width: 600px;
  margin: 20px auto;
}

.next,.prev{
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}

.prev{
  left: 2%;
}

.next{
  right: 2%;
}

.pianta{
  margin:10px auto;
  position: relative;
  width: 200px;
  height: 180px;
  border: 1px solid red;
}


.titolo{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  text-align: right;
}

.locale{
  background-color: yellow;
  text-align: center;
  border: 1px solid black;
  font-size: 10px;
  letter-spacing: -1px
}

.balcone1{
  position: absolute;
  top: 15px;
  left: 20px;
  width: 80px;
  height: 15px;
  background-color: lightyellow;
}

.balcone2{
  position: absolute;
  top: 125px;
  left: 30px;
  width: 70px;
  height: 15px;
  background-color: lightyellow;
  border-width: 0 1px 1px 1px;
}

.stanza1{
  position: absolute;
  top: 30px;
  left: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-width: 0 0 0 1px;
}
.stanza2{
  position: absolute;
  top: 30px;
  left: 60px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-width: 0 1px 0 1px;
}

.stanza3{
  position: absolute;
  top: 20px;
  left: 100px;
  height: 50px;
  width: 40px;
  line-height: 50px;
  border-width: 1px 1px 0 0;
}

.stanza4{
  position: absolute;
  top: 85px;
  left: 100px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-width: 0 1px 1px 0;
}

.stanza5{
  position: absolute;
  top: 85px;
  left: 70px;
  height: 40px;
  width: 30px;
  line-height: 40px;
  font-size: 8px;
  border-width: 0 1px 1px 0;
}

.cucina{
  position: absolute;
  top: 85px;
  left: 30px;
  height: 40px;
  width: 20px;
  line-height: 40px;
  font-size: 8px;
  border-width: 0 1px 1px 1px ;
}

.bagno1{
  position: absolute;
  top: 85px;
  left: 50px;
  height: 40px;
  width: 20px;
  line-height: 40px;
  font-size: 8px;
  border-width: 0 1px 1px 0;
}

.bagno2{
  position: absolute;
  top: 70px;
  left: 110px;
  height: 15px;
  width: 30px;
  line-height: 15px;
  font-size: 8px;
  border-width: 1px 1px 1px 0;
}

.corridoio{
  position: absolute;
  top: 70px;
  left: 20px;
  height: 15px;
  width: 90px;
  background-color: lightyellow;
}

.fa-location-arrow{
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}

.fa-caret-up{
  position: absolute;
  top: 82px;
  left: 18px;
  color: black;
}

.pianta span:last-child {
  position: absolute;
  top: 95px;
  left: 3px;
  color: black;
  font-size: 8px;
  letter-spacing: -1px;
}

#nord {
  position: absolute;
  top: 13px;
  right: 13px;
  color: black;
  font-size: 12px;
}

.indicatore{
  background-color: green;
  z-index: 100;
}
